/* Navbar.css */

/* Navbar'ı alttan hizala */
.navbar-nav {
  flex-direction: column;
}

/* Navbar'ın içindeki öğeleri sola hizala */
.navbar-collapse {
  text-align: left;
}

/* Home ve Link linklerini TASKS yazısının altına al */
.nav-item {
  margin-bottom: 10px; /* İhtiyaca göre ayarlayabilirsiniz */
}

/* Primary Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Layout */
.s-layout {
  display: flex;
  /* width: 100%;
  min-height: 100vh; */
}

.s-layout__content {
  display: flex;
  justify-content: start;
  align-items: start;
  flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: #f8f9fa;
  padding: 0 1em;
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #f07ab0;
}

.s-sidebar__nav {
  position: absolute;
  /* top: 0; */
  /* left: -15em; */
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 15em;
  height: 100%;
  background: #f8f9fa;
  color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.s-sidebar__nav ul li {
  width: 100%;
  padding: 0 0 0 30px;
}

.s-sidebar__nav-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  color: rgb(32, 31, 31);
  height: 4em;
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 2em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  background: #daecfd;
  color: #1d6aff;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all 0.3s ease-in;
    width: 15em;
    height: 100%;
    background: #f8f9fa;
    color: rgba(255, 255, 255, 0.7);
  }

  .s-sidebar--close {
    left: -15em !important;
  }

  .s-sidebar--open {
    left: 0 !important;
  }
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    width: 4em;
  }

  .s-sidebar__nav {
    width: 4em;
  }

  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
    width: 15em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 15em;
    padding: 2rem;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    display: none;
  }

  .s-sidebar__nav {
    width: 15em;
  }

  .s-sidebar__nav ul {
    top: 1.3em;
  }
}

.s-sidebar__nav-link-active {
  background: #daecfd;
  color: #1d6aff;
}

.card {
  display: flex;
  align-items: stretch;
  position: relative;
  transition: background-color 0.3s;
  padding: 30px !important;
  border: 1px solid #ddd;
  border-radius: 10px !important;
  margin-bottom: 15px;
}

.checkbox-wrapper {
  margin-right: 10px;
}

.card-checkbox {
  display: none;
}

.checkbox-label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid blue;
  display: inline-block;
  cursor: pointer;
}

.card-checkbox:checked + .checkbox-label {
  background-color: #4caf50;
}

.edit-icon {
  margin-left: auto;
  cursor: pointer;
}

.card:hover {
  background-color: #f0f0f0;
}

.checked {
  background-color: #e6f7e1;
}
